{% extends 'base.html.twig' %}

{% block body %}
    <h1>Inscription réussie !</h1>
    <p>Bravo, vous vous êtes bien enregistré.</p>
    <p>Néanmoins, pour activer votre compte, veuillez cliquer sur le lien de confirmation que nous vous avons envoyé par email.</p>
{% endblock %}